:root {
  --purple: #600080;
  --aqua: aquamarine;
  --white: antiquewhite;
  --darkgray: darkgray;
  --darkblue: #000066;
}
body {
  background-color: lightblue;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: #600080;
  color: antiquewhite;
  border-bottom: 5px darkgray solid;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 25px;
}
#main-header li {
  list-style: none;
  display: inline;
}

a {
  color: aquamarine;
  text-decoration: none;
}

h1 {
  margin-left: 25px;
}

.Main-Project {
  display: flex;
  justify-content: center;
}

#Horiseon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#Horiseon-image {
  width: 75%;
}

#Horiseon header {
  align-content: center;
  width: 75%;
  height: 50px;
  text-align: center;
  padding: 35px 0;
  background-color: var(--purple);
  color: var(--white);
  font-size: 40px;
}

#About-Me {
  text-align: center;
}

#My-Projects {
  text-align: center;
}

.box {
  height: 300px;
  width: 500px;
  margin: 10px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box-container img {
  height: 300px;
  width: 500px;
}

.box-header {
  position: relative;
  margin: 10px;
  background-color: var(--purple);
  color: var(--white);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  border-top: 5px darkgray solid;
  margin-top: 20px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 25px;
}
